<section id="{{.block.divId}}" class="text-gray-600 body-font relative">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Us</h1>
      <div class="flex justify-center">
        <div class="w-16 h-1 rounded-full bg-primary inline-flex"> </div>
      </div>
      <p class="lg:w-2/3 mx-auto leading-relaxed pt-5 text-base">Our sales team will get back to you as soon as possible</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div id="biztrackerContactFormMessage"> <p class="font-medium text-gray-800 h-6"> </p></div>
      <form name={{.content.formId}} id={{.content.formId}} onsubmit="onBiztrackerFormSubmit()">
        {{ if isset .content "biztrackerIntegrationKey" }}
          <input name="key" id="key" type="hidden" value="{{.content.biztrackerIntegrationKey}}">
        {{ end }}
      
        <div class="relative mb-4">
          <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
          <input type="text" id="name" name="name" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        
        <div class="relative mb-4">
          <label for="phoneNumber" class="leading-7 text-sm text-gray-600">Phone Number</label>
          <input type="text" id="phoneNumber" name="phoneNumber" required class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>

        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
          <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button class="text-white bg-primary border-0 py-2 px-6 focus:outline-none hover:bg-hover rounded text-lg">Submit</button>
        <p class="text-xs text-gray-500 mt-3"></p>
      </form>
    </div>
  </div>
</section>