{{$imagesList := slice "https://images.unsplash.com/photo-1516455590571-18256e5bb9ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" "https://images.unsplash.com/photo-1494526585095-c41746248156?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" "https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" "https://images.unsplash.com/photo-1516455590571-18256e5bb9ff?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80" "https://images.unsplash.com/photo-1560448204-444f743ef6e7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"  "https://images.unsplash.com/photo-1570544820446-1690843de6ea?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"}}

{{ if isset .content "imagesList" }}
{{ $imagesList = .content.imagesList  }}
{{ end }}

<section id="{{.block.divId}}" class="text-gray-600 body-font">
    <div class="container lg:px-16 md:px-16 px-0 py-10 mx-auto">
        <div class="text-center mb-10">
            <h1 class="sm:text-4xl text-4xl font-medium title-font text-gray-900 mb-4 ">Gallery</h1>
            <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-primary inline-flex"></div>
        </div>
    </div>

    <div class="my-gallery flex flex-wrap md:-m-2 -m-1 mt-10" itemscope itemtype="http://schema.org/ImageGallery">
        {{ range $index, $image := $imagesList }}
       {{ $index = add $index 1 }}

           {{/* 
                flip these classes alternatively for every 3 so there is good design
                
                class="{{cond (eq (mod $index 3) 0) "md:p-2 p-1 w-1/2" "md:p-2 p-1 w-1/4"}} 
           */}}

            <figure class="md:p-2 p-1 md:w-1/3 w-1/2"  itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="{{$image}}" itemprop="contentUrl" data-size="600x400">
                    <img alt="gallery" class="lazy w-full object-cover h-full object-center block"
                        src="/images/preview-load-grey.jpg" 
                        data-src="{{$image}}">
                </a>
            </figure>
        {{end}}
        </div>
    </div>
</section>