<footer class="bg-gray-200 box-border block leading-7 px-10 py-16 static text-gray-800">

  <div
    class="grid pb-10 gap-10"
    style="grid-template-columns: 3fr 9fr; justify-content: start; "
  >
    <header class="block leading-7 text-gray-800" >
      <a
        href="https://withpersona.com/"
        aria-current="page"
        class="cursor-pointer flex flex-col float-left pl-0 relative no-underline"
        
        ><img
          src="https://assets.website-files.com/5ed53a66afe689695e9a832e/5fd2aa6a8037fd03f78ca01d_persona-logo.svg"
          loading="lazy"
          width="100"
          alt="Persona"
          class="border-0 box-border inline-block leading-7 max-w-full text-gray-800 align-middle"
          
      /></a>
    </header>
    <nav
      class="flex flex-row leading-7 -mb-10 text-gray-800 w-full gap-5"
      style="grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; quotes: auto;"
    >
      <div class="mr-5 mb-10" >
        <h3
          class="font-medium text-sm mt-0 mb-2 text-left text-gray-600 uppercase tracking-wide"
          style="line-height: 1.14286; quotes: auto;"
        >
          Product
        </h3>
        <a
          href="https://withpersona.com/"
          aria-current="page"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Overview</a
        ><a
          href="https://withpersona.com/pricing"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Pricing</a
        ><a
          href="https://withpersona.com/security"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Security</a
        >
      </div>
      <div class="mr-5 mb-10" >
        <h3
          class="font-medium text-sm mt-0 mb-2 text-left text-gray-600 uppercase tracking-wide"
          style="line-height: 1.14286; quotes: auto;"
        >
          Customers
        </h3>
        <a
          href="https://withpersona.com/customers"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Overview</a
        >
      </div>
      <div class="mr-5 mb-10" >
        <h3
          class="font-medium text-sm mt-0 mb-2 text-left text-gray-600 uppercase tracking-wide"
          style="line-height: 1.14286; quotes: auto;"
        >
          Developers
        </h3>
        <a
          href="https://docs.withpersona.com/docs"
          target="_blank"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Documentation</a
        ><a
          href="https://docs.withpersona.com/reference/"
          target="_blank"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >API reference</a
        ><a
          href="https://status.withpersona.com/"
          target="_blank"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Service status</a
        >
      </div>
      <div class="mr-5 mb-10" >
        <h3
          class="font-medium text-sm mt-0 mb-2 text-left text-gray-600 uppercase tracking-wide"
          style="line-height: 1.14286; quotes: auto;"
        >
          Company
        </h3>
        <a
          href="https://withpersona.com/about"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >About us</a
        ><a
          href="https://withpersona.com/blog"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Blog</a
        ><a
          href="https://withpersona.com/contact"
          class="cursor-pointer block font-medium text-base leading-none py-2 text-gray-800 no-underline hover:underline"
          style="transition: color 150ms ease-in 0s; quotes: auto;"
          >Contact us</a
        >
      </div>
    </nav>
  </div>
</footer>
