{{$bgColor := "bg-purple-100"}}
{{$buttonColor := "bg-purple-500"}}
{{ if isset .content "bgColor" }}
  {{ $bgColor = .content.bgColor  }}
{{ end }}
{{ if isset .content "buttonColor" }}
  {{ $buttonColor = .content.buttonColor  }}
{{ end }}

<div>
  <div class="text-center flex flex-col p-4 md:text-left md:flex-row md:items-center md:justify-between md:p-12 {{$bgColor}} rounded-md">
    <div class="text-2xl font-semibold">
      <div class="text-gray-900">{{.content.text}}</div>
    </div>

    <div class="mt-3 md:mt-0 md:ml-2">
      <a target="_blank" href="{{.content.buttonURL}}">
        <div class="inline-block rounded-md text-lg font-semibold py-2 px-4 text-white {{$buttonColor}}">
          {{.content.buttonText}}
        </div>
      </a>
    </div>
  </div>
</div>